<div class="container" fxLayout="row" fxLayoutGap="1em">
  <mat-card fxFlex="calc((100% - 2em) * .5)">
    <mat-card-title>Sendgrid Test</mat-card-title>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <mat-card-content  fxLayout="column" fxLayoutAlign="start" fxLayoutGap="1em">
        <mat-form-field>
          <input type="text" matInput placeholder="Sendgrid API Key" formControlName="api">
          <mat-error *ngIf="displayError('api', 'required')">
            API Key Required to send email.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="email" matInput placeholder="Sender Email" formControlName="sender">
          <mat-error *ngIf="displayError('sender', 'required') || displayError('sender', 'email')">
            Valid Sender Email Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="email" matInput placeholder="Receiver Email" formControlName="receiver">
          <mat-error *ngIf="displayError('receiver', 'required') || displayError('receiver', 'email')">
            Valid Receiver Email Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput placeholder="Subject" formControlName="subject">
          <mat-error *ngIf="displayError('subject', 'required')">
            Subject for Email Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea 
          matInput 
          placeholder="Content in Text" 
          formControlName="text"
          ></textarea>
          <mat-error *ngIf="displayError('text', 'required')">
            Content of email in text required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea
          matInput
          placeholder="Content in HTML"
          formControlName="html"></textarea>
          <mat-error *ngIf="displayError('html', 'required')">
              Content of email in HTML required
          </mat-error>
        </mat-form-field>
        <div fxLayout fxLayoutAlign="center center">
          <button type="submit" mat-raised-button color="primary">Send Email</button>
        </div>
        
      </mat-card-content>
    </form>
  </mat-card>
  <mat-card fxFlex="calc((100% - 2em) * .5)">
    <mat-card-title>
      Sendgrid Response
    </mat-card-title>
    <mat-card-content>
      {{response | async}}
    </mat-card-content>
  </mat-card>
</div>