<div class="container" fxLayout="row wrap" fxLayoutGap="2em">
  <div class="image-container"
  fxFlex="calc((100% - 8em) / 4)"
  *ngFor="let image of images$ | async">
    <div>
      <a [routerLink]="['/images', 'show', image?.id]">
          <img [src]="image?.original?.url | async" alt="image" width="100%" *ngIf="image?.original?.url">
      </a>
      
    </div>
    <div class="menu" fxLayout fxLayoutAlign="end">
      <mat-icon (click)="onDetail(image?.id)">search</mat-icon>
      <mat-icon (click)="onEdit(image?.id)">edit</mat-icon>
      <mat-icon (click)="onDelete(image?.id)">delete</mat-icon>
    </div>
  </div>

</div>