#imagePreview {
    border: 1px solid lightblue;
    background-color: lightcoral;
    object-fit: contain;
}

mat-card-content {
    max-width: 100%;
}

.image-container {
    max-width: calc((100% - 8em) / 4);
    margin-bottom: 1em;
}
