<div class="container">
  <div class="title" fxLayout>
    <mat-form-field>
      <mat-label>Select Image</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="onChange($event)">
        <mat-option *ngFor="let key of keys"
        [value]="key">{{key}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="menu" fxFlex="90%" fxLayout fxLayoutAlign="end" fxLayoutGap="0.5em">
      <mat-icon (click)="onEdit(image?.id)">edit</mat-icon>
      <mat-icon (click)="onDelete(image?.id)">delete</mat-icon>
    </div>  
  </div>
  
  <img [src]="image[selected].url | async" width="100%" *ngIf="image">

</div>