<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex.xs="100%" fxFlex.sm="60%" fxFlex.md="40%" fxFlex.gt-md="30%">
    <mat-card-title>
      Upload File
      <span *ngIf="percentage | async"> ({{((percentage | async ) | number: '1.0-0') || 100}}%)</span>
    </mat-card-title>
    <mat-card-subtitle>
      JPEG and PNG only. Maximum 10MB.
    </mat-card-subtitle>
    <mat-card-content>
      <img *ngIf="imagePreview | async" 
      [src]="imagePreview | async" 
      id="imagePreview" 
      alt="image preview"
      width="100%">
      <form fxLayout="column" fxLayoutGap="1em">
        <input type="file" accept="images/*" (change)="onUpload($event)" #upload>
        <div>
          <strong>name:</strong>
           {{file?.name }}
        </div>
        <div>
          <strong>size:</strong>
          <span *ngIf="file?.size <= 1000 && file?.size > 0">
            {{file?.size | number:'1.0-2'}} b
          </span>
          <span *ngIf="file?.size < 1000000 && file?.size > 1000">
            {{file?.size / 1000 | number:'1.0-2'}} kb
          </span>
          <span *ngIf="file?.size >= 1000000">
            {{file?.size / 1000000 | number:'1.0-2'}} Mb
          </span>
        </div>
        <div>
          <strong>type:</strong>
          {{file?.type}}
        </div>
        <button mat-raised-button color="primary" (click)="upload.click()"
        [disabled]="(percentage | async) !== 100"
        >Upload</button>
        <!-- <button mat-raised-button color="accent" (click)="upload.click()"
        [disabled]="(percentage | async) !== 100">Delete</button> -->

      </form>
    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>
</div>