<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
    <mat-form-field>
      <input type="email" matInput formControlName="email" placeholder="email">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput formControlName="password" placeholder="password">
      <mat-hint>Any password</mat-hint>
    </mat-form-field>
    <div class="g-recaptcha" data-sitekey="6LeauaoUAAAAAHXBmoTZGgq-8YIByfLkgUPkzKMW"></div>

    <button type="submit" mat-raised-button color="primary">Submit</button>

  </form>
</div>