<div class="container">
  <mat-form-field>
    <mat-label>Select Image</mat-label>
    <mat-select>
      <mat-option *ngFor="let image of images" [value]="image">{{ image }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div fxLayout fxLayoutGap="2em">
    <div class="image" fxFlex="calc((100% - 2em) * .6)">
      <img [src]="original$ | async" width="100%" alt="">
      <img [src]="edited$ | async" width="100%" alt="">
    </div>
    <div class="edit" fxFlex="calc((100% - 2em) * .4)" fxLayout="column">
      <h2 class="mat-h2">
        Resize
      </h2>
      <div class="dimension" fxLayout fxLayoutGap="2em">
        
        <mat-form-field>
          <mat-label>width</mat-label>
          <span matSuffix>px</span>
          <input type="number" id="width" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>height</mat-label>
          <input type="number" id="height" matInput>
          <span matSuffix>px</span>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Fit</mat-label>
          <mat-select>
            <mat-option *ngFor="let fit of Fits">{{fit}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Position</mat-label>
          <mat-select>
            <mat-option *ngFor="let position of Positions">{{position}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Gravity</mat-label>
          <mat-select>
            <mat-option *ngFor="let gravity of Gravities">{{gravity}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field>
          <mat-label>Strategy</mat-label>
          <mat-select>
            <mat-option *ngFor="let strategy of Strategies">{{strategy}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout fxLayoutAlign="center center">
        <button type="submit" mat-raised-button color="primary">Edit</button>
      </div>
      
      
  </div>
</div>